@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

@font-face {
    font-family: HindSiligori;
    src: url(./HindSiliguri-Medium.ttf);
}

body{
    background: -webkit-linear-gradient(to top, #627386, #78a0e8);
    background: linear-gradient(to top, #627386, #78a0e8);
    height: 100vh;
}
span {
    font-family: HindSiligori !important;
}

.ortho {
    font-family: HindSiligori !important;
    color: rgb(0, 255, 255);
    font-size: 16px;
}

.t1,
.t2,
.t3 {
    font-size: 22px;
    color: rgb(0, 255, 255);
    margin: 30px 20px;
    font-weight: 900;
    /* animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: 33; */
}

/* .t2 {
    animation-delay: 33s!important;
}

.t3 {
    animation-delay: 66s !important;
    animation-iteration-count: 34!important;
} */

@keyframes example {
    /* 10% {
        opacity: .6;
    }
    30% {
        opacity: .3;
    } */
    50% {
        opacity: 0;
    }
    /* 70% {
        opacity: .3;
    }
    90% {
        opacity: .6;
    } */
    100% {
        opacity: 1;
    }
}

.number-count {
    font-size: 40px;
    padding: 10px 30px;
    background-color: #243B55;
    border-radius: 8px;
    color: rgb(0, 255, 255);
    font-family: HindSiligori !important;
}


/* pop up styling */

#popup {
    position: absolute;
    top: 5vh;
    left: 5vw;
    width: 90vw;
    margin-right: 5vw;
    transform: scale(0);
    transition: .5s;
    animation: bounce .3s;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.poppup-card {
    padding: 10px;
    background: rgba(33, 167, 167, 0.945);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-headung {
    text-align: center;
}

.popup-head {
    font-size: 25px;
    color: #141E30;
    font-weight: bold;
    margin: 20px auto;
}

.popup-text-content {
    font-size: 16px;
    color: #141E30 !important;
    font-weight: normal;
}

.popup-colse-button {
    font-family: HindSiligori !important;
    border: none;
    outline: none;
    background-color: #141E30;
    color: rgb(0, 255, 255);
    padding: 10px 18px;
    font-size: 17px;
    margin: 10px;
    font-weight: bold;
    display: block;
    border-radius: 4px;
    margin: 15px auto;
    cursor: pointer;
}